@import url('https://fonts.googleapis.com/css?family=Manjari|Raleway&display=swap');

html {
    font: 16px/1.5 'Raleway', sans-serif;
}

*,
*:before,
*:after {
    font: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

nav {
    font-family: 'Manjari';
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #25CED1;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav hr {
    border: none;
    display: block;
    height: 10px;
}

nav hr.active {
    background-color: #FFFFFF;
}

nav li a {
    flex: 0 0 25em;
    color: #FFFFFF;
    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 0;
    width: 150px;
}

nav li a:active {
    text-decoration-color: none;
}

nav i.fas {
    text-align: center;
    display: block;
    padding-bottom: 0.6em;
}

nav li a span {
    text-align: center;
    display: block;
}

nav li a:hover {
    background-color: #FFFFFF;
}

.section {
    margin: 10em 14em;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(22, 10, 83, 0.5);
    position: relative;
}


.info {
    color: #FFFFFF;
    display: inline-block;
    width: 49%;
    min-height: 100%;
    margin: 2em 2em 0em 2em;
}

.info h1 {
    font-size: 3em;
}

.info h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #FFFFFF;
}


.info ul {
    margin: 1em 0;
    list-style-type: none;
}


.info ul li {
    font-size: 1.2em;
    margin: 0.1em 0;
    display: inline-block;

}

.info ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.3em;
}

.info ul li a:hover {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}

.info ul li i {
    margin-right: 0.5em;
}

.social {
    border-top: 2px solid #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: 100%;
}

.icon:hover {
    border: 2px solid #FFFFFF;
    padding: 1em;
    border-radius: 20px;
}

/* .icon:hover:after {
    content: '';
    background-color: rgba(0,0,0,0.5);
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 3px;
  } */

.icon.linked-in {
    background-image: url("../images/logos/linked-in-logo.svg");
}

.icon.github {
    background-image: url("../images/logos/github-logo.svg");
}



.img-container {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}



.img-container img {
    width: 450px;
    max-width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.img-container img:hover {

    transition: transform .5s ease;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.img-container img:not(:hover) {
    transition: transform .5s ease;
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(37, 206, 209, 1) 66%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}