@import url('https://fonts.googleapis.com/css?family=Manjari|Raleway&display=swap');

html {
    font: 16px/1.5 'Raleway', sans-serif;
}

*,
*:before,
*:after {
    font: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
.timeline p {
    font-weight: 900;
    color: #FFFFFF;
}

nav {
    font-family: 'Manjari';
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #25CED1;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    flex: 1 1 30em;
    list-style-type: none;
}

nav hr {
    border: none;
    display: block;
    height: 10px;
}

nav hr.active {
    background-color: #FFFFFF;
}

nav li a {
    flex: 0 0 25em;
    color: #FFFFFF;
    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 0;
    width: 150px;
}

nav li a:active {
    text-decoration-color: none;
}

nav i.fas {
    text-align: center;
    display: block;
    padding-bottom: 0.6em;
}

nav li a span {
    text-align: center;
    display: block;
}

nav li a:hover {
    background-color: #FFFFFF;
}

.section {
    margin: 10em auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(22, 10, 83, 0.5);
    position: relative;
    color: #FFFFFF;
}


.section#intro-section {
    margin: 13em auto;
}


.info {
    color: #FFFFFF;
    display: inline-block;
    width: 49%;
    min-height: 100%;
    margin: 2em 2em 0em 2em;
}

.info h1 {
    font-size: 3em;
}

.info h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #FFFFFF;
}


.info ul {
    margin: 1em 0;
    list-style-type: none;
}


.info ul li {
    font-size: 1.2em;
    margin: 0.1em 0.1em 0 0.1em;
    display: inline-block;

}

.info ul li a {
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid transparent;
    padding: 0.3em;
}

.info ul li a:hover {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}

.info ul li i {
    margin-right: 0.5em;
}

.social {
    border-top: 2px solid #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: 100%;
    border: 2px solid transparent;
}

.icon:hover {
    border: 2px solid #FFFFFF;
    padding: 1em;
    border-radius: 20px;
}


.icon.linked-in {
    background-image: url("../images/logos/linked-in-logo.svg");
}

.icon.github {
    background-image: url("../images/logos/github-logo.svg");
}


.img-container {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}


.img-container img {
    width: 450px;
    max-width: 100%;
}


.img-container img:hover {

    transition: transform .5s ease;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.img-container img:not(:hover) {
    transition: transform .5s ease;
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(37, 206, 209, 1) 66%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}

.timeline {
    border-left: 4px solid #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    margin-left: 15em;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 20px 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 70%;
}

.timeline h1 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2 {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -250.5px;
    color: rgba(255, 255, 255, 0.8);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px #ffffff;
    left: -57.85px;
    background: #25CED1;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.timeline .edu-name {
    margin-left: 15px;
    text-align: center;
}

.timeline figure.imghvr-flip-vert {
    border-radius: 50%;
    background-color: rgba(22, 10, 83, 0.5);
}

.timeline figure p {
    text-align: center;
    margin-top: 20px;
}

.timeline figure figcaption {
    background-color: #25CED1;
}


.section-header {
    font-size: 3em;
    padding: 25px 0;
    text-align: center;
    border-bottom: 2px solid #FFFFFF;
}

.education h2,
.edu-name div {
    margin: 20px 0;
}

.education .edu-info {
    margin-top: 25px;
    text-align: center;
}

.description {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.subjects {
    margin: 15px 0;
}


.grade {
    font-weight: 900;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 60%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    display: inline-block;
}

.section-header {
    text-align: center;
    color: white;
}

.section-header i,
.section-header h1 {
    display: inline-block;
}

.section-header i {
    font-size: 1.2em;
    margin-right: 20px;
    padding: 0;
    padding-top: 5px;
    line-height: 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.img-skill-container {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    overflow: hidden;
    margin: 0 auto;

}


.skills-container img {

    display: block;
    margin: 0 auto;
    padding: 2em;
    height: 180px;
    width: auto;
}

.skills-container .junit img {
    padding: 3em;
}


.skills-container .bottom-zoom-rotate img:hover {

    transition: transform 1s ease;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2) rotate(360deg) translateY(-25%);
}

.skills-container .top-zoom-rotate img:hover {

    transition: transform 1s ease;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2) rotate(360deg) translateY(25%);
}

.skills-container .zoom-rotate img:hover {

    transition: transform 1s ease;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2) rotate(360deg);
}

.skills-container .rotate img:hover {

    transition: transform 1s ease;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: rotate(360deg);
}

.skills-container img:not(:hover) {
    transition: transform 1s ease;
}

.skill-description {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;

}

.skills-container h2 {
    font-size: 2.4em;
}

.skills-container h3 {
    font-size: 1.2em;
}

.skill-element {
    text-align: center;
    flex: 1 1 19em;
    margin: 1em 2em 1em 2em;
    overflow: hidden;
    flex-direction: column;
}

.section .language h3 {
    font-size: 1.3em;
    margin-bottom: 1.3em;
    ;
}

.section .language img.lang {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 16px 34px -11px rgba(0, 0, 0, 0.68);
    margin-bottom: 2em;
}


.section .language img.cert {
    width: 300px;
    height: auto;
    box-shadow: 10px 16px 34px -11px rgba(0, 0, 0, 0.68);
    margin-bottom: 2em;
}


.section .language img.lang:hover {

    transition: transform .5s ease;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.section .language img.cert:hover {

    transition: transform .5s ease;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.section .language img:not(:hover) {
    transition: transform .5s ease;
}


.language-container {
    display: flex;
    text-align: center;
    padding: 2em;
}

.language-container h2 {
    font-size: 2.4em;
}

.section .language {
    padding: 2em;
    text-align: center;
}

.section .language .certificate {
    margin-top: 0em;
}

.english {
    display: inline-block;
    width: 45%;
    /* background: red; */
    margin-right: 2em;
}

.german {
    display: inline-block;
    width: 45%;
    /* background: blue; */
    margin-left: 2em;
}

.skillbar {
    position: relative;
    display: block;
    margin: 2em 0;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

.portfolio-container h2 {
    font-size: 3em;
    padding: 0.5em;
}

.portfolio-container h3 {
    font-size: 1.4em;
}

.portfolio-container img.logo:hover, .achievements-photo img:hover {

    transition: transform .5s ease;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio-container img.logo:not(:hover), .achievements-photo img:not(:hover) {
    transition: transform .5s ease;
}

.portfolio-container {
    text-align: center;
    padding: 2em;
}

.portfolio-container .link-container {
    padding: 1em;
    display: inline-block;
    margin: 1em 2em;
    border-radius: 20px;
    border: 2px solid transparent;
}

.portfolio-container .link-container:hover {
    border: 2px solid #FFFFFF;
}

.portfolio-container a {
    text-decoration: none;
}

.portfolio-container .app-info {
    margin: 0 auto;
    width: 60%;
}

.portfolio-container .technologies {
    margin: 1em auto;
    width: 30%;
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.certificate-container h2 {
    font-size: 1.2em;
    padding: 1em 0;
}

.certificate-container .grade-container {
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.certificate-container figure {
    height: 500px;
}


.certificate-container figure figcaption {
    background-color: rgba(0, 0, 0, 0.2);
}

.certificate-container figure figcaption p {
    padding: 1em;
    position: absolute;
    bottom: 8em;
    left: 50%;
    transform: translate(-50%);
    margin: auto 0;
    border-radius: 10px;
    border: 3px solid #FFFFFF;
}

.certificate-container figure figcaption p:hover {
    background-color: #FFFFFF;
    color: #000000;
}



.certificate-info img {
    height: 300px;
}

.certificate-info figure {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

.certificate-info figure:hover img {

    transition: transform .5s ease;
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
}

.certificate-info figure:not(:hover) img {
    transition: transform .5s ease;
}

.certificate-container h3 {
    margin-top: 0.5em;
}

.certificate-container .grade {
    font-size: 1.1em;
    padding: 0.5em;
    border-radius: 60%;
    margin-top: 10px;
}

.achievements-container .award {
    width: 300px;
    margin: 1em;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    background-color: rgba(207, 181, 59, 0.9);
}

.achievements-container .award h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 1.6em;
}

.award .place {
    border-bottom: 2px solid #FFFFFF;
    padding: 2em;
}

.achievements-container .award h3 {
    padding: 1em;
    margin: auto 0;
    font-size: 1.3em;
}

.achievements-container .award i {
    display: block;
    font-size: 70px;
}

.achievements-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.achievements-photo img {
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
    height: 400px;
    box-shadow: 10px 16px 34px -11px rgba(0, 0, 0, 0.68);
}


@media screen and (max-width: 799px) {
    html {
        font-size: 10px;
    }

    .section {
        width: 100%;
    }

    .section#intro-section {
        margin: 25em auto 13em auto;
    }

    .img-container img {
        width: 250px;
        max-width: 100%;
    }

    .timeline .event:before {
        left: -200.5px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }
}


@media screen and (min-width: 800px) and (max-width: 900px) {

    html {
        font-size: 10px;
    }

    .section {
        width: 90%;
    }

    .section#intro-section {
        margin: 25em auto 13em auto;
    }

    .img-container img {
        width: 250px;
        max-width: 100%;
    }

    .timeline .event:before {
        left: -200.5px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }
}


@media screen and (min-width: 901px) and (max-width: 1249px) {

    html {
        font-size: 12px;
    }

    .section {
        width: 90%;
    }

    .section#intro-section {
        margin: 20em auto 13em auto;
    }

    .img-container img {
        width: 350px;
        max-width: 100%;
    }

    .timeline .event:before {
        left: -200.5px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

}

@media screen and (min-width: 1250px) and (max-width: 1449px) {

    html {
        font-size: 14px;
    }

    .section {
        width: 70%;
    }

}

@media screen and (min-width: 1450px) and (max-width: 1599px) {


    .section {
        width: 75%
    }

}

@media screen and (min-width: 1600px) and (max-width: 1799px) {

    .section {
        width: 67%;
    }
}

@media screen and (min-width: 1800px) {

    .section {
        width: 60%;
    }
}